/* Application */
:root{
  --appBottomNav: 2cm;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--appPrimaryFontColor);
  background-color: var(--appPrimaryBgColor);
  overflow-x: hidden;
}

a {
  color: inherit; 
  text-decoration: inherit; 
  cursor: pointer;
}

img{
  /* width: 47.5rem !important; */
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.HIGHLIGHT{
  border-top: 2px solid var(--appLinkColorLight);
}

.HDN{
  display: none !important;
}

.DISPLAY {
  display: initial;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  margin-top: 34px;
  margin-bottom: var(--appBottomNav);
}

.container {
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(var(--appImageOverlayColor),var(--appImageOverlayColor)), url("/resources/headerspace.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.clickable { 
  transition: all .2s ease-in-out; 
}
.clickable:hover { 
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0px 10px 8px var(--appShadowColor);
}

/* Header */
.containerHeading{
  padding: 0 5vw;
  margin-bottom: 10vh;
}

.headingPrimary {
  font-size: 7rem;
  padding-top: 7px;
}
.headingSecundary {
  font-size: 4.5rem;
}

.headingTertiary{
  color: #8e8e8f;
  font-size: 3.5rem;
  margin-bottom: 25px;
}

.fadeIn:nth-child(1) {
  animation-delay: 0.5s;
}

.fadeIn:nth-child(2) {
  animation-delay: 1.5s;
}

.fadeIn:nth-child(3) {
  animation-delay: 2.5s;
}

.fadeIn:nth-child(4) {
  animation-delay: 3.5s;
}
.aboutMe{
  font-size: 4rem;
  padding: 0 5vw;
  text-align: center;
}

.aboutKnowMore{
  font-size: 5rem;
  margin-top: 10vh;
}

.icons{
  margin-top: 2.5rem;
}

.icons a {
  color: var(--appLinkColorLight);
  font-size: 5rem;
  margin: 0 20px;
}

/*  Main content  */
.owl-carousel{
  flex: 1;
}

.owl-carousel > div {
  align-self: center;
}

.containerContentBox {
  background-color: var(--appPrimaryBgColor);
  align-self: center; 
  height: auto;
  padding: 25px;
  margin-top:50px !important;
  margin-bottom:50px !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 12px 5px var(--appShadowColor);
  -moz-box-shadow:0px 0 12px 5px var(--appShadowColor);
  box-shadow:0px 0 12px 5px var(--appShadowColor);
  font-size: 3rem;
}


.containerContentBoxFlex {
  background-color: var(--appPrimaryBgColor);
  align-self: center; 
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  margin-top:20px !important;
  margin-bottom:20px !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 12px 5px var(--appShadowColor);
  -moz-box-shadow:0px 0 12px 5px var(--appShadowColor);
  box-shadow:0px 0 12px 5px var(--appShadowColor);
  font-size: 3rem;
}

.descriptionPrimary {
  margin-top: 10px;
  font-size: 4.2rem;
}
.descriptionSecundary {
  font-size: 3.5rem;
}
.descriptionTertiary {
  margin-top: 10px;
  font-size: 3rem;
}

.projectDescriptionPrimary {
  margin-top: 10px;
  font-size: 3.2rem;
}
.projectDescriptionSecundary {
  font-size: 2.5rem;
}
.projectDescriptionTertiary {
  margin-top: 10px;
  font-size: 2rem;
}

.navigation{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 9999;
}


  /* Top Nav */
.topNav{
  display: flex; 
  justify-content: space-between; 
  background-color:var(--appPrimaryBgColor);
  align-self: center;
  align-items:center;
  padding: 0 5vw;
  box-shadow: 0px 1px 8px var(--appShadowColor);
}

.pageAuthor{
  display:inline;
  font-size: 3rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 2px 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px; 
  background-color: var(--appPrimaryBgColor);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--appLinkColorLight);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--appLinkColorLight);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
/* Bottom Nav */

.bottomNav{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: var(--appBottomNav);
  box-shadow: 0px -5px 8px var(--appShadowColor);
  z-index: 9999;
}

.bottomNav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--appPrimaryBgColor);
    cursor: pointer;
}

.bottomNav i {
  color: var(--appLinkColorLight);
  font-size: 3rem;
}

.bottomNav p {
  margin-top: 5px;
  font-size: 2rem;
}

/* Skills */

.skillsFlex {
  flex: 1;
  align-self: center;
  justify-self: center;
  position: relative;
}

#skillsContent > .containerContentBox{
  width: 90vw;
  padding: 0 25px 25px 25px;
}

.skills-List_Grid {
  display: grid;
  font-size: 3.5rem;
  justify-self: center;
  width: 100%;
}

.skills-List_Contents {
  list-style-type: none;
}

#skillsDescription{
  align-self: center;
  padding: 10vh 10vw;
  font-size: 4rem;
}

.skills-List_Title {
  display: block;
  font-size: 5.5rem;
  padding: 3rem 0 ;
}

/* Contact Form */
.contact{
  align-self: center;
  justify-self: center;
  flex: 1;
}

.contact input {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
  font-size: 3.5rem;
	height: 45px;
  width: 80vw;
  color: var(--appPrimaryFontColor);
  margin: 5rem 5vw;
  width: 90vw;
}

.btnSubmit{
  align-self: center;
  display: inline-block;
  background-color: var(--appLinkColorLight);
  color: #F5F5F5;
  font-size: 4rem;
  line-height: 24px;
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  width: 80vw;
  margin: 0 10vw;
  border-radius: 10px;
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 25%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1;
  }
  
  #softSkills.skills-List_Contents {
    text-align: center;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: center;
  }

  #projectsContent .containerContentBox{
    margin: 0 5vw;
  }
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 27%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1;
  }
  
  #softSkills.skills-List_Contents {
    text-align: center;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: center;
  }
  #projectsContent .containerContentBox{
    margin: 0 5vw;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 30%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1fr 1fr;
  }
  
  #softSkills.skills-List_Contents {
    text-align: right;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: left;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 40%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1fr 1fr;
  }
  
  #softSkills.skills-List_Contents {
    text-align: right;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: left;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  html {
    font-size: 50%;
  }

  .skills-List_Grid {
    grid-template-columns: 1fr 1fr;
  }

  #softSkills.skills-List_Contents {
    text-align: right;
  }

  #technicalSkills.skills-List_Contents {
    text-align: left;
  }
  #projectsContent .containerContentBox{
    width: 70%;
  }
}
