:root{
  --appPrimaryBgColor: #3F3F3F;
  --appPrimaryFontColor: #F5F5F5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--appPrimaryFontColor);
  background-color: var(--appPrimaryBgColor);
}

.header {
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.9), rgb(67, 67, 67, 0.9)), url("resources/headerspace.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  text-align: center;
}

.header h1,
.header h2 {
  padding: 0 10vw;

}

.header h1 {
  font-size: 14rem;
}

.header h2 {
  font-size: 8rem;
}

.fadeIn:nth-child(1) {
  animation-delay: 0.5s;
}

.fadeIn:nth-child(2) {
  animation-delay: 1.5s;
}

.fadeIn:nth-child(3) {
  animation-delay: 2.5s;
}

.fadeIn:nth-child(4) {
  animation-delay: 3.5s;
}


#more-arrows {
  position: absolute;
  width: 75px;
  bottom: 15vh;
  height: 65px;
  transform: translatex(-37.5px);
  fill: var(--appPrimaryFontColor);
}
#more-arrows:hover polygon {
  fill: var(--appPrimaryFontColor);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

polygon {
  fill: var(--appPrimaryFontColor);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}

.space-wrap{
  background-image: linear-gradient(to bottom,  rgb(67, 67, 67, 0.999), rgb(67, 67, 67, 0.97)), url("resources/spacetexture.jpg");
  background-size: cover;
  background-position: top;
}

.skillsFlex {
  display: flex;
  flex: 1;
  height: auto;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  

  /* justify-content: space-between; */
}

#skillsDescription{
  align-self: center;
  padding: 10vh 10vw;
  font-size: 6rem;
}

.skills {
  background-color: var(--appPrimaryBgColor);
  align-self: center; 
  width: 80vw;
  height: auto;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 55px -1px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 10px 55px -1px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 10px 55px -1px rgba(0, 0, 0, 0.85);
}

.skills-List_Grid {
  display: grid;
  font-size: 4rem;
  justify-self: center;
  width: 100%;
}

.skills-List_Title {
  display: block;
  font-size: 6rem;
  padding: 30px 0 ;
}

.skills-List_Contents {
  list-style-type: none;
}

#skillsAnchor {
  align-self: center;
  transform: translatex(-37.5px);
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 25%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1;
  }
  
  #softSkills.skills-List_Contents {
    text-align: center;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: center;
  }
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 27%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1;
  }
  
  #softSkills.skills-List_Contents {
    text-align: center;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: center;
  }
  
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 30%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1fr 1fr;
  }
  
  #softSkills.skills-List_Contents {
    text-align: right;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: left;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 40%;
  }
  
  .skills-List_Grid {
    grid-template-columns: 1fr 1fr;
  }
  
  #softSkills.skills-List_Contents {
    text-align: right;
  }
  
  #technicalSkills.skills-List_Contents  {
    text-align: left;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  html {
    font-size: 50%;
  }

  .skills-List_Grid {
    grid-template-columns: 1fr 1fr;
  }

  #softSkills.skills-List_Contents {
    text-align: right;
  }

  #technicalSkills.skills-List_Contents {
    text-align: left;
  }
}
